@tailwind base;
@tailwind components;
@tailwind utilities;

/* Use @layer directive for Custom Styles */
@layer base {
  /* Applying default box-sizing, padding, and margin reset across all elements can be 
     handled by Tailwind itself, so you typically wouldn't need to repeat it here. 
     For illustration, here's how you could add a custom global style if needed: */
  *, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    /* Tailwind uses the system font stack by default, which includes Arial,
       so you might not need to explicitly set the font-family to Arial */
    font-family: theme('fontFamily.sans');
  }
}

@layer components {
  .navbar {
    @apply bg-dark-blue py-2.5 flex justify-between items-center; /* Adjusted from padding: 10px */
  }

  .logo {
    @apply text-white text-2xl;
  }

  .navbar ul {
    @apply list-none flex;
  }

  .navbar ul li {
    @apply px-10; /* Adjusted from padding: 0 15px */
  }

  .navbar ul li a {
    @apply no-underline text-white;
  }

  /* SEARCH START */

  .search-container {
    display: flex;
    align-items: center;
    @apply px-5;
  }
  
  .search-icon {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    @apply rounded-md;
  }
  
  .search-input {
    width: 0;
    padding: 0;
    border: none;
    transition: width 0.4s ease-out, padding 0.2s ease-out;
    opacity: 0;
    @apply rounded-md;
  }
  
  .search-input.expanded {
    padding: 10px;
    width: 200px;
    opacity: 1;
    @apply rounded-md ml-3;
  }

    /* SEARCH END */

  

  .hero-section {
    @apply text-center; /* Adjusted colors and padding */
  }

  .content-section {
    @apply flex flex-wrap justify-between;
  }

  .text-section,
  .image-section {
    @apply w-1/2 p-5; /* Adjusted width and padding */
  }

  .text-section {
    @apply bg-gray-200;
  }

  .image-section {
    @apply bg-green-600; /* Adjusted color */
  }

  .button {
    @apply py-2.5 px-5 bg-purple-700 text-white no-underline inline-block mt-5; /* Adjusted paddings */
  }

  .heading {
    @apply py-12 bg-purple-600 text-white text-center; /* Adjusted padding */
  }

  .footer {
    @apply bg-green-600 py-5 text-center; /* Adjusted padding */
  }
}